<style> 
    /* Split the screen in half */
    .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    }

    /* Control the left side */
    .left {
    left: 0;
    background-color: rgb(232, 235, 174);
    }

    /* Control the right side */
    .right {
    right: 0;
    background-color: rgb(139, 199, 210);
    }

    .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

    .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    }

    /* Style the header links */
    .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
      border-radius: 4px;
    }

    /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
    .header a.logo {
    font-size: 25px;
    font-weight: bold;
    }

    /* Change the background color on mouse-over */
    .header a:hover {
    background-color: #ddd;
    color: black;
    }

    /* Style the buttons */
    .button {
    background-color: white; 
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #636363
    }

    /* change button when mouse hocered over */
    .button:hover {
    background-color: #d8d8d8;
    color: white;
    }
    
    /* style a text box */
    textarea {
    width: 35%;
    height: 50;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #636363;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
      resize: none;
    }

</style>

<div class="split left">

<div class="header">
  <a href="/" class="logo">Poetry Generator</a>
  <div class="header-right">
  </div>
</div>

  <form action = '/add_word' method="POST">
    <button class='button' name="word" type="word"> New AI Word </button>
  </form>

  <form action = '/add_word_manually' method="POST"> 
    <button class="button" name="submit">Add Manual Word</button>
    <br>
    <br>
    <textarea name="manual_word" placeholder = 'Manual Text'></textarea>
  </form>

  <form action = '/new_line' method="POST">
    <button class='button' name="new_line" type="new_line"> New Line </button>
  </form>
<div>

<div class="split right">
  <div class="header">
    <a href="/save_poem" class="logo">Save Poem</a>
        <a href="/poems">Recorded Poems</a>

  </div>

  {% for word in current_poem %}
    {% if word == "\n" %}
      <p>{{word}}</p>
    {% endif %}
    
    {% if word != "\n" %}
      {{word}}
    {% endif %}
  {% endfor %}
</div>